.page-container {
  background: url("https://raw.githubusercontent.com/wangrongding/image-house/master/images202202251452455.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .page-main {
    position: relative;
    height: 100%;

    .page-name {
      writing-mode: vertical-lr;
      font-size: 22px;
      font-family: PingFang-SC-Bold, PingFang-SC;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 30px;
      margin: 66px auto 0 auto;
      letter-spacing: 10px;
    }

    .page-btn {
      width: 142px;
      height: 58px;
      line-height: 58px;
      background: #FFFFFF;
      border-radius: 15px;
      font-size: 15px;
      font-family: PingFang-SC-Bold, PingFang-SC;
      font-weight: bold;
      color: rgba(96, 211, 148, 1);
      position: absolute;
      bottom: 50px;
      margin-left: 117px;
      text-align: center;
    }
  }

}